<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl"><%= t("health_professionals.title") %></h1>
    <%# link_to 'New profile', "#", class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <%= form_with(url: root_path, method: "GET", data: {turbo_frame: "profiles"}, class: "w-full max-w-lg py-5") do |form| %>
  <div class="flex items-center mb-6">
    <%= form.text_field :query, placeholder: t("health_professionals.search.placeholder"), class: "bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" %>
    <%= form.submit t("health_professionals.search.submit"), name: nil, class: "flex-shrink-0 rounded py-2 px-5 bg-blue-600 text-white inline-block font-medium" %>
  </div>
  <% end %>

  <div id="profiles" class="min-w-full">
    <%= render "profiles" %>
  </div>
</div>